{% extends 'base.html.twig' %}

{% block title %}Company Index{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center">Company Management</h1>

        <div class="table-responsive">
        <table id="companyTable" class="table table-striped table-hover align-middle w-100">
            <thead>
            <tr>
                <th>Id</th>
                <th>IprotoId</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for company in companies %}
                <tr>
                    <td>{{ company.id }}</td>
                    <td>{{ company.iprotoid }}</td>
                    <td>{{ company.name }}</td>
                    <td>
                        <a href="{{ path('app_company_show', {'id': company.id}) }}" class="btn btn-sm btn-outline-secondary">Show</a>
                        <a href="{{ path('app_company_edit', {'id': company.id}) }}" class="btn btn-sm btn-outline-primary">Edit</a>
                        <span class="d-inline-block">{{ include('company/_delete_form.html.twig', {'id': company.id}) }}</span>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td class="text-center">No records found</td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>

        <div class="text-end">
            <a href="{{ path('app_company_new') }}" class="btn btn-primary">Create New Company</a>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('js/company-index.js') }}"></script>
{% endblock %}
