{% extends 'base.html.twig' %}

{% block title %}User Index{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="center-align">User Management</h1>

        <div class="table-responsive">
        <table id="userTable" class="striped highlight responsive-table table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.roles|join(', ') }}</td>
                    <td>
                        <a href="{{ path('app_user_show', {'id': user.id}) }}" class="btn-small waves-effect waves-light">Show</a>
                        <a href="{{ path('app_user_edit', {'id': user.id}) }}" class="btn-small orange waves-effect waves-light">Edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4" class="center-align">No records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>

        <div class="right-align">
            <a href="{{ path('app_user_new') }}" class="btn waves-effect waves-light">Create New User</a>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/user-index.js') }}"></script>
{% endblock %}
