{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="center-align">User Management</h1>

        <table id="userTable" class="striped highlight responsive-table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        {% for role in user.roles %}
                            {% if role == 'ROLE_ADMIN' %}
                                Admin
                            {% elseif role == 'ROLE_USER' %}
                                User
                            {% else %}
                                {{ role }} {# Fallback if any other roles exist #}
                            {% endif %}
                            {% if not loop.last %}, {% endif %}
                        {% else %}
                            No roles assigned
                        {% endfor %}
                    </td>

                    <td>
                        <a class="waves-effect waves-light btn-small" href="{{ path('app_user_show', {'id': user.id}) }}">Show</a>
                        <a class="waves-effect waves-light btn-small orange" href="{{ path('app_user_edit', {'id': user.id}) }}">Edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4" class="center-align">No records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="right-align">
            <a href="{{ path('app_user_new') }}" class="waves-effect waves-light btn">Create New User</a>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function() {
            $('#userTable').DataTable({
                "pagingType": "full_numbers",
                "responsive": true
            });
        });
    </script>
{% endblock %}
